USE [master]
GO
/****** Object:  Database [KATA]    Script Date: 01/07/2024 22:28:44 ******/
CREATE DATABASE [KATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KATA]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01/07/2024 18:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[ItemType] [varchar](50) NOT NULL,
	[SalesChannel] [varchar](50) NOT NULL,
	[Priority] [char](1) NOT NULL,
	[Date] [date] NOT NULL,
	[ShipDate] [date] NOT NULL,
	[UnitsSold] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[UnitCost] [money] NOT NULL,
	[TotalRevenue] [money] NOT NULL,
	[TotalCost] [money] NOT NULL,
	[TotalProfit] [money] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
